<web-app>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.sda.HelloServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCalcAdd</servlet-name>
        <servlet-class>com.sda.Calc</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCalcAdd</servlet-name>
        <url-pattern>/calc-add/*</url-pattern>

    </servlet-mapping>

</web-app>